<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>fitness</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitness</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>需要使用相機來拍攝器材照片。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要存取相簿來選擇器材照片。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要儲存器材照片到相簿。</string>
</dict>
</plist>
